In [ ]:
!pip install beautifulsoup4
!pip install requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.12.14)

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [ ]:
table = soup.find('table', class_ = 'wikitable sortable')

In [ ]:
# print(table)

In [ ]:
world_titles = table.find_all('th')
world_titles

[<th align="center">Rank
 </th>,
 <th align="center">Forbes<br/> 2000 rank
 </th>,
 <th align="center">Name
 </th>,
 <th align="center">Headquarters
 </th>,
 <th align="center">Revenue<br/>(billions US$)
 </th>,
 <th align="center">Profit<br/>(billions US$)
 </th>,
 <th align="center">Assets<br/>(billions US$)
 </th>,
 <th align="center">Value<br/>(billions US$)
 </th>,
 <th align="center">Industry
 </th>]

In [ ]:
world_table_titles = [title.text.strip() for title in world_titles]

print(world_table_titles)

['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters', 'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)', 'Value(billions US$)', 'Industry']

In [ ]:
df = pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [ ]:
column_data = table.find_all('tr')

In [ ]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [ ]:
df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,49,Reliance Industries Limited,Mumbai,108.8,8.4,210.5,233.1,Conglomerate
1,2,55,State Bank of India,Mumbai,71.8,8.1,807.4,87.6,Banking
2,3,65,HDFC Bank,Mumbai,49.3,7.7,483.2,133.6,Banking
3,4,70,Life Insurance Corporation,New Delhi,98.0,4.9,561.4,73.6,Insurance
4,5,142,ICICI Bank,Mumbai,28.5,5.3,283.5,95.3,Banking
...,...,...,...,...,...,...,...,...,...
66,65,1895,Dr. Reddy's Laboratories,Hyderabad,3.4,0.7,4.6,11.6,Pharmaceuticals
67,66,1908,Varun Beverages,Gurgaon,2.0,0.3,1.8,23.6,Beverages
68,67,1949,CIFCL,Chennai,2.3,0.4,18.8,13.0,Financials
69,68,1957,NMDC,Hyderabad,2.5,0.8,3.9,9.7,Mining
70,69,1980,ABB India,Bangalore,1.3,0.2,1.3,21.3,Capital goods

In [ ]:
df.to_csv(r'Largest Companies in India 2024 Forbes.csv', index = False)

In [ ]:
table2 = soup.find_all('table')[1]
# table2

In [ ]:
world_titles2 = table2.find_all('th')
world_titles2

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue<br/><small>(in  <b>₹ Crore</b>)</small>
 </th>,
 <th>Revenue growth
 </th>,
 <th>Profits<br/><small>(in  <b>₹ Crore</b>)</small>
 </th>,
 <th>Headquarters
 </th>,
 <th><a href="/wiki/List_of_public_sector_undertakings_in_India" title="List of public sector undertakings in India">State Controlled</a>
 </th>]

In [ ]:
world_table2_titles = [title.text.strip() for title in world_titles2]

print(world_table2_titles)

['Rank', 'Name', 'Industry', 'Revenue(in  ₹ Crore)', 'Revenue growth', 'Profits(in  ₹ Crore)', 'Headquarters', 'State Controlled']

In [ ]:
df2 = pd.DataFrame(columns = world_table2_titles)
df2

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue(in  ₹ Crore), Revenue growth, Profits(in  ₹ Crore), Headquarters, State Controlled]
Index: []

In [ ]:
column_data2 = table2.find_all('tr')

In [ ]:
# column_data2

In [ ]:
for row in column_data2[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df2)
    df2.loc[length] = individual_row_data

In [ ]:
df2

,Rank,Name,Industry,Revenue(in ₹ Crore),Revenue growth,Profits(in ₹ Crore),Headquarters,State Controlled
0,1,Reliance Industries Limited,Oil and gas,"920,274",25%,"66,702",Mumbai,
1,2,Indian Oil Corporation,Oil and gas,"872,093",25%,"9,792",New Delhi,Yes
2,3,Life Insurance Corporation,Insurance,"792,427",9%,"35,997",Mumbai,Yes
3,4,Oil and Natural Gas Corporation,Oil and gas,"638,965",27%,"35,440",New Delhi,Yes
4,5,Bharat Petroleum,Oil and gas,"477,855",34%,"2,131",Mumbai,Yes
5,6,State Bank of India,Banking,"473,378",16%,"55,648",Mumbai,Yes
6,7,Tata Motors,Automotive,"357,317",28%,"2,414",Mumbai,
7,8,Tata Steel,Iron and steel,"248,374",2%,"8,760",Mumbai,
8,9,Tata Consultancy Services,Infotech,"228,907",17%,"42,147",Mumbai,
9,10,Hindalco Industries,Metals and mining,"221,268",7%,"10,097",Mumbai,
10,11,HDFC Bank,Banking,"204,666",22%,"45,997",Mumbai,
11,12,Larsen & Toubro,Capital goods,"189,563",18%,"10,471",Mumbai,
12,13,ICICI Bank,Banking,"186,179",18%,"34,037",Mumbai,
13,14,NTPC Limited,Utilities,"178,906",30.0%,"16,913",New Delhi,Yes
14,15,JSW Steel Ltd,Iron and steel,"170,217",12%,"4,144",Mumbai,
15,16,HDFC,Financials,"164,163",13%,"26,161",Mumbai,
16,17,Vedanta Resources,Metals and mining,"151,289",8%,"10,574","London, UK",
17,18,GAIL,Oil and gas,"150,505",57%,"5,616",New Delhi,Yes
18,19,Infosys,Infotech,"145,481",21%,"28,165",Bangalore,
19,20,Coal India,Metals and mining,"145,481",31%,"28,165",Kolkata,Yes
20,21,Bharti Airtel,Telecommunication,"140,834",15%,"8,346",New Delhi,
21,22,Mahindra & Mahindra,Automotive,"129,004",37%,"10,282",Mumbai,
22,23,Grasim Industries,Diversified,"122,283",24%,"6,827",Mumbai,
23,24,Maruti Suzuki India,Automotive,"120,293",33%,"8,211",New Delhi,
24,25,Nayara Energy,Oil and gas,"116,240",19%,"9,426",Mumbai,
25,26,Steel Authority of India,Iron and steel,"111,501",6%,"2,177",New Delhi,Yes
26,27,Canara Bank,Banking,"111,210",18%,"11,255",Bangalore,Yes
27,28,Bank of Baroda,Banking,"110,778",26%,"14,905",Vadodara,Yes
28,29,Axis Bank,Banking,"106,155",23%,"10,818",Mumbai,Yes
29,30,HCL Technologies,Infotech,"102,881",19%,"14,851",Noida,
30,31,Punjab National Bank,Banking,"99,374",12%,"3,348",New Delhi,Yes
31,32,Union Bank of India,Banking,"97,079",19%,"8,512",Mumbai,Yes
32,33,Wipro,Infotech,"92,738",14%,"11,350",Bangalore,
33,34,Uttar Pradesh Power Corporation,Utilities,"90,272",12%,"−15,859",Lucknow,Yes
34,35,Bajaj Finserv,Financials,"82,073",20%,"6,417",Pune,
35,36,Motherson Sumi Systems,Automotive,"79,281",23%,"1,496",Noida,
36,37,Power Finance Corporation,Financial services,"77,625",2%,"15,889",New Delhi,Yes
37,38,ITC Limited,Consumer goods,"73,398",16%,"19,192",Kolkata,
38,39,Kotak Mahindra Bank,Banking,"68,142",16%,"14,925",Mumbai,
39,40,IFFCO,Agriculture,"63,386",46%,"3,053",New Delhi,Yes
40,41,Hyundai Motor India,Automotive,"61,572",28%,"4,709",Gurgaon,
41,42,Hindustan Unilever,Consumer goods,"61,342",16%,"10,120",Mumbai,
42,43,Tata Power,Utilities,"61,080",32%,"3,336",Mumbai,
43,44,Petronet LNG,Oil and gas,"60,560",39%,"3,326",New Delhi,Yes
44,45,IndiGo,Airline,"55,883",110%,−306,Gurgaon,
45,46,Bank of India,Banking,"55,100",19%,"3,838",Mumbai,Yes
46,47,Adani Wilmar,Food processing,"54,471",1%,582,Ahmedabad,
47,48,Tech Mahindra,Infotech,"54,255",19%,"4,831",Pune,
48,49,UPL,Chemicals,"54,210",16%,"3,570",Mumbai,
49,50,Jindal Steel and Power,Iron and steel,"54,194",4%,"3,174",New Delhi,

In [ ]:
df2.to_csv(r'Largest Companies in India 2023 Forbes.csv', index = False)